h1{
    color:green;
    text-align: center;
}
body{
    background-color:beige;
}
#textbox{
    margin-left: 44.5%;
}
#okbutton{
    margin-left: 49%;
    margin-top: 10px;

}
#listoffilms{
    margin-left: 45%;
}
